[submodule "models/deepmedic"]
	path = models/deepmedic
	url = https://github.com/mister-weeden/deepmedic.git
[submodule "models/iad"]
	path = models/iad
	url = https://github.com/mister-weeden/iad.git
[submodule "models/MedicalNet"]
	path = models/MedicalNet
	url = https://github.com/mister-weeden/MedicalNet.git
[submodule "models/dlca"]
	path = models/dlca
	url = https://github.com/mister-weeden/dlca.git
[submodule "models/ihd"]
	path = models/ihd
	url = https://github.com/mister-weeden/iad1.git
[submodule "utils/dcm2niix"]
	path = utils/dcm2niix
	url = https://github.com/mister-weeden/dcm2niix.git
